.player {
  width: 100vw;
  height: 100vh;
  background-image: url(/img/static.gif);
  background-size: cover;
  background-position: center;
  transition: transform 1.5s cubic-bezier(.19,1,.22,1);
  /* transform: translateX(50%); */
  /* transform: translateY(50%); */
  will-change: transform;
}

.player__video {
  min-width: 100%;
  min-height: 100%;
}