{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["module:babel-project-relative-import", {
      "sourceDir": "src/app/"
    }],
    "react-hot-loader/babel"
  ]
}
