@font-face {
  font-family: "standartio";
  src: url("/fonts/standart.io/standartio.eot");
  src: url("/fonts/standart.io/standartio.eot?#iefix") format("embedded-opentype"),
       url("/fonts/standart.io/standartio.woff") format("woff"),
       url("/fonts/standart.io/standartio.ttf") format("truetype"),
       url("/fonts/standart.io/standartio.svg#standartio") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-family: Roboto Mono;
  letter-spacing: .5px;
  font-size: 11pt;
}

.bg-darker {
  background: #16181b;
}

i.icon {
  font-style: normal;
  font-family: "standartio";
  vertical-align: bottom;
}

#app {
  width: 100vw;
  height: 100vh;
  background: white;
}

main {
  overflow: hidden;
}

.logo {
  position: fixed;
  right: 25px;
  bottom: 20px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  will-change: transform;
  z-index: 999;
}

.logo:hover {
  transform: scale(1.1);
}